* {
    font-family: 'Mochiy Pop One', sans-serif;
}

/*7C616C*/
body {
    color: white;
    background-color: #2B2D42;
}

.nav-item {
    font-size: 15px;
    margin-left: 20px;
}

i {
    color: #441151;
    font-size: 18px;
    margin-left: 5px;
}

.dropdown-menu {
    font-size: 12px;
}

#no_result {
    color: red;
}

.product_img {
    width: 25rem;
}

.product_spec tr {
    line-height: 55px;
}

.product_spec th {
    width: 250px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #f30df1;
    top: 0;
    bottom: 0;
    left: 75px;
    margin-left: -3px;
}

.content {
    position: relative;
}

.content::after {
    content: '';
    position: absolute;
    left: -45px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 4px solid #f30df1;
    top: 30px;
    border-radius: 50%;
    z-index: 1;
}

.stars {
    font-size: 30px;
    margin: 0;
    width: 40px;
    padding: 0;
    display: flex;
}

.stars.disabled{
    pointer-events: none;
}

.stars span {
    opacity: 50%;
    padding: 5px;
}

.stars:hover span {
    opacity: 100%;
    cursor: pointer;
}

.stars span:hover ~ span {
    opacity: 50%;
}

.stars span.active {
    opacity: 100;
}

.checked {
    color: orange;
}
