* {
    font-family: 'Mochiy Pop One', sans-serif;
}

body {
    color: white;
    background-color: #2B2D42;
}

.nav-item {
    font-size: 15px;
    margin-left: 20px;
}

i {
    color: #441151;
    font-size: 18px;
    margin-left: 5px;
}

.dropdown-menu {
    font-size: 12px;
}

#no_result {
    color: red;
}

.product_img {
    width: 25rem;
}

.product_spec tr {
    line-height: 55px;
}

.product_spec th {
    width: 250px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #f30df1;
    top: 0;
    bottom: 0;
    left: 75px;
    margin-left: -3px;
}

.content {
    position: relative;
}

.content::after {
    content: '';
    position: absolute;
    left: -45px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 4px solid #f30df1;
    top: 30px;
    border-radius: 50%;
    z-index: 1;
}

.rating {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    margin-right: 2rem;
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    margin-right: 2rem;
    color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    margin-right: 2rem;
    color: #f58416;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
}
