{% extends "sellerLayout.html" %}

{% block title %}
Admin Ratings
{% endblock %}
{% block main %}

<h3>All Ratings</h3>

<div class="p-3" style="line-height:30px;">

    <div style="text-align:left;border-bottom:2px solid #c18be5;">
        {% for rating in ratings %}
        <div style="border-top:2px solid #c18be5;">
            <div class="mt-2">
                {% for i in range(rating[3]) %}
                <span class="icon bi bi-star-fill checked" style="color:red;"></span>
                {% endfor %}
            </div>

            <p>{{rating[5]}}</p>
            <p>{{rating[4]}}</p>

            <div class="p-2 d-flex gap-3 align-items-center mb-5 border">
                <img src="{{rating[10]}}" alt="Img" style="width:80px;height:80px;"/>
                <p>{{rating[7]}}</p>
            </div>
        </div>

        {% endfor %}
    </div>

</div>

{% endblock %}