{% extends "sellerLayout.html" %}

{% block title %}
All Purchases
{% endblock %}

{% block main %}

<div class="p-3 d-flex flex-wrap gap-5 justify-content-center" style="max-width: 1200px;">
    {% for i in range(purchases|length) %}
    {% if (purchases[i][0] != purchases[i-1][0]) or i == 0 %}
    <div class="p-3 border" style="max-width:700px;background-color: #f6ad36;margin-bottom:10px;color:#381d1d;">

        <p style="color:black;text-align: right;padding: 8px 5px;">Time : &nbsp;{{purchases[i][2]}}</p>

        <div style="text-align: left;margin-bottom: 30px;font-size:20px;display: flex;justify-content: space-between">
            <div>
                <span style="background-color: #ec3b1b;padding:5px;font-size:15px;margin-right:10px;">Buyer</span>
                {{purchases[i][8]}}
            </div>
            <span>Order ID : {{purchases[i][0]}}</span>
        </div>

        <div class="d-flex flex-wrap gap-3">

            <!--  Check Order List in the Order Id -->
            {% for j in range(purchases|length) %}
            {% if purchases[j][0] == purchases[i][0] %}
            <div class="d-flex" style="border-bottom:2px solid #cc4d4d;">
                <div style="display: flex;width:650px;justify-content: space-between">
                    <div>
                        <img src="{{purchases[j][6]}}" style="width:80px;height:80px;"/>
                    </div>

                    <div style="line-height: 15px;text-align: right">
                        <p>{{purchases[j][4]}}</p>
                        <p>x {{purchases[j][7]}}</p>
                        <p>{{purchases[j][5]|myr}}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <div style="border-bottom:2px solid #cc4d4d;">
                <div style="width:650px;text-align: right;">
                    <p>Order Total : &nbsp;<span style="color:#ef0808;">{{purchases[i][1]|myr}}</span></p>
                </div>
            </div>

            <div style="border-bottom:2px solid #cc4d4d;">
                <p style="width:650px;text-align: left;color:#cc1556;padding-left:10px;">
                    {{purchases[i][3]}}
                    <button type="button" class="btn" data-toggle="modal" data-target="#updateShipmentModal{{purchases[i][0]}}"
                            data-whatever="@mdo"
                            style="padding:5px;border-radius: 10px;font-size:20px;background-color: rgba(78,178,80,0.51);margin-left:10px;">
                        <span class="bi bi-pencil-square" style="font-size:25px;color:#2d0f0f;"></span>
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateShipmentModal{{purchases[i][0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document" style="color:#1f1f1f;text-align: left">
            <div class="modal-content">
                <form action="/shipmentStatus" method="POST">
                    <input type="hidden" name="order_id" value="{{purchases[i][0]}}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="withdrawalModalLabel">Shipment Status</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="shipment" class="col-form-label">Change to status</label>

                            <div>
                                <select name="shipment_status">
                                    <option value="Preparing">Preparing</option>
                                    <option value="Shipping">Shipping</option>
                                    <option value="Delivered">Delivered</option>
                                </select>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Change Status</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endif %}
    {% endfor %}
</div>

{% endblock %}
