{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}

{% for i in range(purchases|length) %}
{% if purchases[i-1][0] == purchases[i][0] %}
{% endif %}
{% endfor %}

<div class="p-3 d-flex flex-wrap gap-5 justify-content-center" style="max-width: 1200px;">
    {% for i in range(purchases|length) %}
    {% if purchases[i][0] != purchases[i-1][0] %}
    <div class="p-3 border" style="max-width:700px;background-color: #f6ad36;margin-bottom:10px;">

        <p style="color:black;text-align: right;padding: 8px 5px;">Time : &nbsp;{{purchases[i][2]}}</p>

        <div style="text-align: left;margin-bottom: 30px;font-size:20px;display: flex;justify-content: space-between">
            <div>
                <span style="background-color: #ec3b1b;padding:5px;font-size:15px;margin-right:10px;">Preferred +</span>
                yiyistore
            </div>
            <span>Order ID : {{purchases[i][0]}}</span>
        </div>

        <div class="d-flex flex-wrap gap-3">

            <!--  Check Order List in the Order Id -->
            {% for j in range(purchases|length) %}
            {% if purchases[j][0] == purchases[i][0] %}
            <div class="d-flex" style="border-bottom:2px solid white;">
                <div style="display: flex;width:650px;justify-content: space-between">
                    <div>
                        <img src="{{purchases[j][5]}}" style="width:80px;height:80px;"/>
                    </div>

                    <div style="line-height: 15px;text-align: right">
                        <p>{{purchases[j][4]}}</p>
                        <p>x {{purchases[j][6]}}</p>
                        <p>{{purchases[j][7]|myr}}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <div style="border-bottom:2px solid white;">
                <div style="width:650px;text-align: right;">
                    <p>Order Total : &nbsp;<span style="color:#ef0808;">{{purchases[i][1]|myr}}</span></p>
                </div>
            </div>

            <div style="border-bottom:2px solid white;">
                <p style="width:650px;text-align: left;color:#cc1556;padding-left:10px;">
                    {{purchases[i][3]}}
                </p>
            </div>

            <div style="border-bottom:2px solid white;display: flex;width:650px;justify-content: center">
                <p>
                    <button style="font-size:20px;background-color: red;color:white;border-radius: 10px;padding:10px 40px;border:none">
                        Rate
                    </button>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
