{% extends "layout.html" %}

{% block title %}
Sign In
{% endblock %}

{% block main %}

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username" autocomplete="off" autofocus class="form-control mx-auto w-auto mb-4">
    <input type="password" name="password" placeholder="Password" autocomplete="off" class="form-control mx-auto w-auto mb-4">

    <div class="mb-4">
        <small class="text-muted">Not a Member?</small> <a href="/register">Register</a>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

</form>

{% endblock %}
