{% extends "layout.html" %}

{% block title %}
Product Details
{% endblock %}

{% block main %}

<!--Product Main Information-->
<div class="d-flex gap-5 justify-content-center p-4">
    <div>
        <img src="{{product[5]}}" class="product_img"/>
    </div>

    <div class="p-3">
        <h3 class="" style="max-width:400px;text-align:left">{{product[2]}}</h3>

        <div class="d-flex gap-4 mt-4">

            <!-- To Do -->
            <div>
                4.9 ☆☆☆☆☆
            </div>
            |
            <div>
                90 Ratings
            </div>
            |
            <div>
                163 Sold
            </div>

        </div>

        <div class="bg-secondary mt-4 px-3" style="height:50px;font-size:25px;display:flex;align-items: center">
            {{product[3] | myr}}
        </div>

        <form action="/cart" method="POST">
            <div class="d-flex no-wrap mt-5" style="align-items:center">
                <h6>Quantity :</h6>

                <div style="margin-left:30px;display:flex;">
                    <div style="border:1px solid white;padding:8px;font-size:15px;">-</div>
                    <input name="quantity" type="numeric" value="0"
                           style="width:50px;margin-left:10px;margin-right:10px;text-align:center;">
                    <div style="border:1px solid white;padding:8px;font-size:15px;">+</div>
                </div>
            </div>

            <div class="d-flex gap-5 mt-5" style="font-size:1.15rem">

                <input type="hidden" name="id" value="{{product[0]}}">
                <button class="border border-danger rounded p-3 d-flex align-items-center"
                        type="submit" style="background-color:#AD7A99;color:white;">
                    <i class="bi bi-cart-fill" style="font-size:1.5rem;margin-right:10px;"></i>
                    Add To Cart
                </button>


                <div class="border border-danger rounded p-3 d-flex align-items-center"
                     style="background-color:#AD7A99;"
                     onclick="">
                    Buy Now
                </div>

            </div>
        </form>
    </div>

</div>

<!--Seller Information-->
<div class="p-4 d-flex gap-5 justify-content-center mt-5">

    <div class="d-flex gap-3" style="padding-right:50px;border-right:1px solid white;">
        <div style="width:150px;">
            <img src="../static/pic/1638157275081.jpg" style="width:8rem;height:8rem;" class="border rounded-circle">
        </div>

        <div style="text-align:left">
            <p>yiyistore</p>
            <small>Active 51 Minutes Ago</small>
            <div class="d-flex gap-3 mt-3" style="font-size:0.7rem;">
                <div class="border border-danger rounded p-2" style="background-color:#AD7A99;" onclick="">
                    <span style="display:flex;align-items: center">
                        <i class="bi bi-chat-dots-fill" style="margin-right:0.4rem;"></i>
                        Chat Now
                    </span>
                </div>

                <div class="border border-danger rounded p-2" style="background-color:#AD7A99;" onclick="">
                    <span style="display:flex;align-items: center">
                        <i class="bi bi-eye-fill" style="margin-right:0.4rem;"></i>
                        View Shop
                    </span>
                </div>
            </div>

        </div>
    </div>

    <div style="font-size:0.75rem;display:grid;grid-template-columns: 1fr 1fr 1fr;">
        <div class="d-flex gap-3" style="width:150px;">
            <p>Ratings</p>
            <p class="text-success">15.7k</p>
        </div>

        <div class="d-flex gap-3" style="width:250px;">
            <p>Response Rate</p>
            <p class="text-success">93%</p>
        </div>

        <div class="d-flex gap-3" style="width:150px;">
            <p>Joined</p>
            <p class="text-success">3 years ago</p>
        </div>

        <div class="d-flex gap-3" style="width:150px;">
            <p>Products</p>
            <p class="text-success">1.5k</p>
        </div>

        <div class="d-flex gap-3" style="width:250px;">
            <p>Response Time</p>
            <p class="text-success">Within Hours</p>
        </div>

        <div class="d-flex gap-3" style="width:150px;">
            <p>Follower</p>
            <p class="text-success">14.2k</p>
        </div>
    </div>
</div>

<!--Product Spec-->
<div class="mt-5 p-5">
    <div class="mb-3 bg-secondary p-2" style="text-align:left;height:50px;display:flex;align-items: center">
        <h5>Product Specification</h5>
    </div>

    <table class="product_spec" style="text-align:left;">
        <tr>
            <th>Category</th>
            <td>--> --> --></td>
        </tr>

        <tr>
            <th>Brand</th>
            <td>Dong Lin She</td>
        </tr>

        <tr>
            <th>Style</th>
            <td>Cute, Casual, College</td>
        </tr>

        <tr>
            <th>Material</th>
            <td>TR</td>
        </tr>

        <tr>
            <th>Total Stock</th>
            <td>{{product[6]}}</td>
        </tr>

        <tr>
            <th>Location</th>
            <td>Selangor</td>
        </tr>

        <tr>
            <th>Release Date</th>
            <td>{{product[8]}}</td>
        </tr>

    </table>
</div>

<!-- Product Desc -->
<div class="mt-3 p-5">
    <div class="mb-3 bg-secondary p-2" style="text-align:left;height:50px;display:flex;align-items: center">
        <h5>Product Description</h5>
    </div>

    <article style="text-align:left;line-height: 40px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et vestibulum arcu. Maecenas dignissim tincidunt
        luctus. Vestibulum in urna non sapien ultricies varius. Nunc efficitur felis eget eleifend vulputate. Sed tempus
        eleifend luctus. Vestibulum malesuada neque sit amet enim malesuada auctor. Vivamus eleifend sagittis ipsum et
        pellentesque. Duis mi enim, congue ut rutrum in, pretium at libero. Sed purus sapien, imperdiet aliquam nibh
        quis, venenatis sodales augue. Nulla tempor eros quis nisl auctor volutpat. Suspendisse efficitur diam venenatis
        mauris efficitur vulputate. Quisque nec neque a turpis hendrerit faucibus nec vitae leo. Maecenas felis erat,
        consequat in luctus sed, facilisis ac nunc.

        Vestibulum malesuada auctor ex, a hendrerit neque vulputate id. Nullam ligula orci, eleifend et nulla ut,
        consectetur auctor purus. Praesent efficitur accumsan interdum. Suspendisse suscipit iaculis ipsum, aliquam
        semper nisl dictum vel. Nullam tincidunt sagittis finibus. Nulla tempus molestie nisl, eu iaculis nisl commodo
        at. Praesent vel eros fermentum, aliquam metus id, tempor augue. Mauris ultricies viverra neque, nec mollis
        lectus tempus id. Etiam nec nibh interdum, pretium nisl non, luctus ante. Sed a nibh ac ipsum vehicula bibendum.
        Donec non eleifend nibh, quis mattis ex.

        Donec non placerat lectus, sed vulputate velit. Nam et lacus quis ante aliquet tincidunt sed eu orci. Donec
        tortor velit, pulvinar bibendum euismod nec, mattis a tortor. Nam sit amet libero consequat felis volutpat
        rutrum id non diam. Praesent et arcu non erat consectetur posuere nec a nibh. Nunc vitae nulla risus. Vivamus
        non laoreet magna, at auctor ante. Suspendisse at elit sapien. Mauris erat mauris, ultrices et turpis eget,
        fermentum fermentum quam. Nam porttitor consequat urna non aliquam.

        Vestibulum laoreet vulputate consectetur. Pellentesque tristique justo eu feugiat euismod. Sed iaculis quis
        massa et tristique. Nam at purus interdum, gravida justo in, convallis lectus. Sed elementum nisl porta blandit
        rhoncus. Pellentesque nec dui eu sem tincidunt accumsan. Nullam at feugiat mauris. Donec iaculis felis erat, nec
        egestas massa maximus in. Nulla a ligula a lacus aliquet luctus. Proin a purus vel nisl pretium sollicitudin ac
        vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Aenean euismod nec ligula a laoreet. Suspendisse elementum dolor metus, eu maximus tortor pulvinar quis. Aliquam
        erat volutpat. Integer in lorem ligula. Fusce ultrices pretium sapien porttitor dignissim.

        Aliquam gravida mattis ante. Nulla quis justo elit. Nulla sed risus faucibus diam sagittis mattis in ut eros.
        Integer et nulla viverra, fringilla dolor nec, ultricies ipsum. Donec faucibus neque nunc, et vehicula odio
        blandit in. Nulla vestibulum lobortis turpis et ullamcorper. In luctus sapien non nisi rutrum, porta finibus est
        elementum. Maecenas ex est, interdum id condimentum a, tempus nec tellus. Nulla eu ante sapien. Mauris dictum
        viverra massa ac sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus.
    </article>
</div>

<!-- Product Ratings -->
<div class="mt-3 p-5">
    <div class="mb-5" style="text-align:left">
        <h5>Product Ratings</h5>
    </div>

    <div class="d-flex align-items-center" style="background-color:#ee9696;width:auto">
        <div class="d-flex no-wrap p-4" style="vertical-align:text-top;">
            <div>
                <div class="d-flex no-wrap gap-2 align-items-baseline justify-content-center">
                    <h1>5</h1>
                    <h5>out of 5</h5>
                </div>

                <div class="mt-1">
                    <div class="d-flex">
                        {% for i in range(5) %}
                        <i class="bi bi-star-fill" style="font-size:25px;color:red;"></i>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="p-4"
             style="display:grid;grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;column-gap:0.5rem;row-gap:1rem;font-size:13px;">
            <div class="p-1 border bg-dark d-flex justify-content-center align-items-center">
                All
            </div>

            <div class="p-1 border bg-dark d-flex justify-content-center align-items-center">
                5 Star (218)
            </div>

            <div class="p-1 border bg-dark d-flex justify-content-center align-items-center">
                4 Star (9)
            </div>

            <div class="p-1 border bg-dark d-flex justify-content-center align-items-center">
                3 Star (1)
            </div>

            <div class="p-1 border bg-dark d-flex justify-content-center align-items-center">
                2 Star (2)
            </div>

            <div class="p-1 border bg-dark d-flex justify-content-center align-items-center">
                1 Star (0)
            </div>

            <div class="p-1 border bg-dark d-flex justify-content-center align-items-center">
                With Comments (76)
            </div>

            <div class="p-1 border bg-dark d-flex justify-content-center align-items-center">
                With Media (65)
            </div>
        </div>
    </div>
</div>

<!-- User Rating -->
<div class="d-flex flex-wrap gap-5">
    <div class="d-flex gap-3 border-bottom" style="padding-left:50px;padding-bottom: 1rem">
        <div style="width:200px;text-align: left">
            <img src="../static/pic/1638157275081.jpg" style="width:6rem;height:6rem;" class="border rounded-circle">
        </div>

        <div class="d-flex">
            <div style="text-align: left">
                <p style="text-align: left;">&nbsp;w*****n</p>
                <div class="d-flex my-3">
                    {% for i in range(5) %}
                    <i class="bi bi-star-fill" style="font-size:14px;color:red"></i>
                    {% endfor %}
                </div>

                <small>&nbsp;2022-07-12 11:54</small>

                <p class="mt-4" style="line-height: 35px;">
                    &nbsp;it fits perfectly and FYI the waist area is stretchy type! so anyone which has a size of 28-29
                    will
                    surely fit this. and the material of the skirt is tiptop too, its thin and perfect for hot weather
                    but
                    its not sheer to a point its see through
                </p>
            </div>

        </div>
    </div>

    <div class="d-flex gap-3 border-bottom" style="padding-left:50px;padding-bottom: 1rem">
        <div style="width:200px;text-align: left">
            <img src="../static/pic/1638157275081.jpg" style="width:6rem;height:6rem;" class="border rounded-circle">
        </div>

        <div class="d-flex">
            <div style="text-align: left">
                <p style="text-align: left;">&nbsp;w*****n</p>
                <div class="d-flex my-3">
                    {% for i in range(5) %}
                    <i class="bi bi-star-fill" style="font-size:14px;color:red"></i>
                    {% endfor %}
                </div>

                <small>&nbsp;2022-07-12 11:54</small>

                <p class="mt-4" style="line-height: 35px;">
                    &nbsp;it fits perfectly and FYI the waist area is stretchy type! so anyone which has a size of 28-29
                    will
                    surely fit this. and the material of the skirt is tiptop too, its thin and perfect for hot weather
                    but
                    its not sheer to a point its see through
                </p>
            </div>

        </div>
    </div>
</div>


{% endblock %}
