{% extends "layout.html" %}

{% block title %}
Registration
{% endblock %}

{% block main %}

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username" autocomplete="off" autofocus
           class="form-control mx-auto w-auto mb-4">

    <input type="text" name="email" placeholder="Email" autocomplete="off" autofocus
           class="form-control mx-auto w-auto mb-4">

    <input type="password" name="password" placeholder="Password" autocomplete="off"
           class="form-control mx-auto w-auto mb-4">
    <input type="password" name="confirmation_password" placeholder="Confirmation" autocomplete="off"
           class="form-control mx-auto w-auto mb-4">

    Date of Birth
    <input type="date" name="DOB" placeholder="Date of Birth" autocomplete="off" autofocus
           class="form-control mx-auto w-auto mt-1 mb-4">

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="M">
        <label class="form-check-label" for="inlineRadio1">Male</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="F">
        <label class="form-check-label" for="inlineRadio2">Female</label>
    </div>
    <div class="form-check form-check-inline mb-4">
        <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" value="others">
        <label class="form-check-label" for="inlineRadio3">Others</label>
    </div>

    <div class="mb-4">
        <small class="text-muted">Already a member?</small> <a href="/login">Login</a>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>

</form>

{% endblock %}
