{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}
{{ personal_details }}
{% block main %}

    <h2>Personal Details</h2>

    <div class="mt-5">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="name" value="{{ personal_details[0] }}">
            </div>
        </div>
        <div class="form-group row mt-5">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="address" value="{{ personal_details[1] }}">
            </div>
        </div>

        <div class="form-group row mt-5">
            <label for="phone_no" class="col-sm-2 col-form-label">Phone Number</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="phone_no" value="{{ personal_details[2] }}">
            </div>
        </div>

        <div class="form-group row mt-5">
            <label for="profile_pic" class="col-sm-2 col-form-label">Profile Picture</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="profile_pic" value="{{ personal_details[3] }}">
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-lg mt-5" data-toggle="modal" data-target="#settingsModal">
            Edit
        </button>
    </div>

    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document" style="color:#1f1f1f;text-align: left">
            <div class="modal-content">
                <form action="/settings" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="topupModalLabel">Personal Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   value="{% if personal_details[0] %}{{ personal_details[0]}}{% endif %}">
                        </div>

                        <div class="form-group mt-3">
                            <label for="address" class="col-form-label">Address</label>
                            <input type="text" class="form-control" id="address" name="address"
                                   value="{% if personal_details[1] %}{{ personal_details[1]}}{% endif %}">
                        </div>

                        <div class="form-group mt-3">
                            <label for="phone_number" class="col-form-label">Phone Number</label>
                            <input type="text" class="form-control" id="phone_number" name="phone_number"
                                   value="{% if personal_details[2] %}{{ personal_details[2]}}{% endif %}">
                        </div>

                        <div class="form-group mt-3">
                            <label for="profile_picture" class="col-form-label">Profile Picture</label>
                            <input type="text" class="form-control" id="profile_picture" name="profile_picture"
                                   value="{% if personal_details[3] %}{{ personal_details[3]}}{% endif %}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
