{% extends "layout.html" %}

{% block title %}
Password Settings
{% endblock %}

{% block main %}
<div style="padding:10px 50px;">
    <h3>My Wallet
        <i class="bi bi-coin" style="color:white;font-size:30px;"></i>
    </h3>
</div>

<div class="mt-5" style="">
    <span>RM</span> <span style="font-size:30px;">{{"%.2f"|format(cash_in_wallet[0])}}</span>
</div>

<div style="display: grid;grid-template-columns: 1fr 1fr;margin-top:50px;row-gap:1rem;font-size:19px;padding:25px;background-color:white;color:#fc4747;">
    <div data-toggle="modal" data-target="#topupModal" style="cursor: pointer">
        <i class="bi bi-wallet2" style="color:red;font-size:30px;"></i>
        <p style="margin-top:10px;">Topup</p>
    </div>

    <div data-toggle="modal" data-target="#withdrawalModal" style="cursor: pointer">
        <i class="bi bi-box-arrow-up" style="color:red;font-size:30px;"></i>
        <p style="margin-top:10px;">Withdrawal</p>
    </div>

</div>

<div class="modal fade" id="topupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="color:#1f1f1f;text-align: left">
        <div class="modal-content">
            <form action="/topup" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="topupModalLabel">Topup</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="amount" class="col-form-label">Topup Amount :</label>
                        <input type="number" class="form-control" id="amount" name="amount">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Topup</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="withdrawalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="color:#1f1f1f;text-align: left">
        <div class="modal-content">
            <form action="/withdrawal" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="withdrawalModalLabel">Withdrawal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="amount" class="col-form-label">Withdraw Amount :</label>
                        <input type="number" class="form-control" id="amount" name="amount">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Withdrawal</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
