{% extends "users/layout.html" %}

{% block title %}
Password Settings
{% endblock %}

{% block main %}
    <h3>Password Settings</h3>

<form action="/password" method="post" class="mt-5">
    <div class="mb-4">
        <input class="form-control mx-auto w-auto" id="prev_password" name="prev_password"
               placeholder="Previous Password" type="password">
    </div>

    <div class="mb-4">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>

    <div class="mb-4">
        <input class="form-control mx-auto w-auto" id="cofirmation_password" name="confirmation"
               placeholder="Confirm Password" type="password">
    </div>

    <button class="btn btn-primary mt-4" type="submit" style="font-size:1.2rem;padding:15px;">Change Password</button>
</form>
{% endblock %}
